.header {
    border: 3px solid green;
display: inline-block;
align-content: center;

}

.logo {
    display: block;
    border: 3px solid black;
}

.blog {
    display: inline-block;
    border: 3px solid yellow;
    
}
.contacto {
    display: inline-block;
    border: 3px solid pink;
    margin-left: 20px

}

.diversidad {
    border: 3px solid black;
margin-top: 100px;
margin-left: 100px;
margin-right: 100px;
 text-align: center;
 
}

.contenedor {
    width: 100vh;
    
    height: 100vh;
    color: #ffffff;
    border: 3px solid red;
    background-color: #3CDBC0;
    
    
}