.header {
  display: inline-block;
  justify-content: center;
  /* border: 3px solid green;*/
}

.logo {
  display: block;
  margin-top: 10px;
  border: 3px solid black;
}

.blog {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 13px;
  text-transform: uppercase;
  /* border: 3px solid yellow; */
}
.contacto {
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 13px;
  text-transform: uppercase;
  /*border: 3px solid pink;*/
}

.contenedor {
  width: 100vh;
  height: 100vh;
  color: #ffffff;
  background-color: #3cdbc0;
  align-items: center;
  justify-content: center;
  /*border: 3px solid red;*/
}

.diversidad {
  width: 200px;
  height: 200px;
  text-align: center;
  text-transform: capitalize;
  /* border: 3px solid black;*/
}
